[Unit]
Description=Kompira-daemon
After=$NEW_PG_SERVICE.service rabbitmq-server.service
Requires=$NEW_PG_SERVICE.service rabbitmq-server.service

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/kompirad
ExecStartPre=$KOMPIRA_BIN/prestart_kompirad.sh
ExecStart=$KOMPIRA_BIN/kompirad
PermissionsStartOnly=true
User=$KOMPIRA_USER
Group=$KOMPIRA_GROUP
Restart=always
TimeoutStartSec=300
LimitCORE=infinity:infinity

[Install]
WantedBy=multi-user.target

